<div class="details">
  <ng-container *ngIf="recipe else emptyTemp">
    <h2 class="details__title">{{ recipe.title }}</h2>

    <img class="details__img" [src]="recipe?.image_url" alt="{{ recipe.title }}">

    <h4 class="details__ingredients">Ingredients</h4>

    <ul>
      <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient }} 
        <div class="btns">
          <button type="button" class="btn btn-success" (click)="addToCart(ingredient)">+</button>
          <button type="button" class="btn btn-danger" (click)="removeFromCart(ingredient)">-</button>
        </div>  
      </li>
    </ul>
  </ng-container>

  <ng-template #emptyTemp>
    <div class="pizza-logo">
      <img class="pizza-img" src="assets/pizza-logo.jpg" alt="">
    </div>
  </ng-template>
</div>


{{ filteredIngredients$ | async }}


<div class="">
  <h4>Shopping Basket</h4>
  <ol>
    <li *ngFor="let cart of carts">{{cart}}</li>
  </ol>
</div>
